<!DOCTYPE html>
<html lang="en">
<head>
<style type="text/css">
h3{font-family: Calibri; font-size: 22pt; font-style: normal; font-weight: bold; color:SlateBlue;
text-align: center; text-decoration: underline }
body{font-family: Calibri; color:blue; font-size: 4pt; font-style: normal; background-color: SlateBlue; border-collapse: collapse; border: 20px solid navy;border-radius: 25px;
}

</style>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title>Deployment</title>
<style type="text/css">
#form{font-family: Calibri; font-size: 11pt; font-style: normal; font-weight: bold; color:SlateBlue;
text-align: center; text-decoration: underline;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
}
.form-control{margin-bottom: 20px;width:10px}
</style>
<script src="jquery.min.js"></script>
<script src="bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
<link href="bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
   <form class="form" align="center" id="form">  
      <div class="row">
        <div class="col-xs-6">
            <div class="row">
                <label for="Name" class="col-xs-12  col-sm-6">Name</label>
		<label for="Password" class="col-xs-12  col-sm-6">Password</label>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="Name"/>
                </div>
		<div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="Password"/>
                </div>                
            </div>
        </div>
	
	<div class="col-xs-6">
            <div class="row">
                <label for="IPAddress" class="col-xs-12  col-sm-6">IP Address</label>
                <label for="MACAddress" class="col-xs-12  col-sm-6">MAC Address</label>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="IPAddress"/>
                </div>
		<div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="MACAddress"/>
                </div>
            </div>
        </div>
	<div class="col-xs-6">
            <div class="row">
                <label for="Name" class="col-xs-12  col-sm-6">Name</label>
                <label for="Password" class="col-xs-12  col-sm-6">Password</label>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="Name"/>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="Password"/>
                </div>
            </div>
        </div>
	<div class="col-xs-6">
            <div class="row">
                <label for="Name" class="col-xs-12  col-sm-6">Name</label>
                <label for="Password" class="col-xs-12  col-sm-6">Password</label>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="Name"/>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="Password"/>
                </div>
            </div>
        </div>
	<div class="col-xs-6">
            <div class="row">
                <label for="Name" class="col-xs-12  col-sm-6">Name</label>
                <label for="Password" class="col-xs-12  col-sm-6">Password</label>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="Name"/>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="Password"/>
                </div>
            </div>
        </div>
	<div class="col-xs-6">
            <div class="row">
                <label for="Name" class="col-xs-12  col-sm-6">Name</label>
                <label for="Password" class="col-xs-12  col-sm-6">Password</label>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="Name"/>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="Password"/>
                </div>
            </div>
        </div>
	<div class="col-xs-6">
            <div class="row">
                <label for="Name" class="col-xs-12  col-sm-6">Name</label>
                <label for="Password" class="col-xs-12  col-sm-6">Password</label>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="Name"/>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="Password"/>
                </div>
            </div>
        </div>
	<div class="col-xs-6">
            <div class="row">
                <label for="Name" class="col-xs-12  col-sm-6">Name</label>
                <label for="Password" class="col-xs-12  col-sm-6">Password</label>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="Name"/>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="Password"/>
                </div>
            </div>
        </div>
	<div class="col-xs-6">
            <div class="row">
                <label for="Name" class="col-xs-12  col-sm-6">Name</label>
                <label for="Password" class="col-xs-12  col-sm-6">Password</label>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="Name"/>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="Password"/>
                </div>
            </div>
        </div>
	<div class="col-xs-6">
            <div class="row">
                <label for="Name" class="col-xs-12  col-sm-6">Name</label>
                <label for="Password" class="col-xs-12  col-sm-6">Password</label>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="Name"/>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="Password"/>
                </div>
            </div>
        </div>
	<div class="col-xs-6">
            <div class="row">
                <label for="Name" class="col-xs-12  col-sm-6">Name</label>
                <label for="Password" class="col-xs-12  col-sm-6">Password</label>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="Name"/>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="Password"/>
                </div>
            </div>
        </div>
	<div class="col-xs-6">
            <div class="row">
                <label for="Name" class="col-xs-12  col-sm-6">Name</label>
                <label for="Password" class="col-xs-12  col-sm-6">Password</label>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="Name"/>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="Password"/>
                </div>
            </div>
        </div>
	<div class="col-xs-6">
            <div class="row">
                <label for="Name" class="col-xs-12  col-sm-6">Name</label>
                <label for="Password" class="col-xs-12  col-sm-6">Password</label>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="Name"/>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="Password"/>
                </div>
            </div>
        </div>
	<div class="col-xs-6">
            <div class="row">
                <label for="Name" class="col-xs-12  col-sm-6">Name</label>
                <label for="Password" class="col-xs-12  col-sm-6">Password</label>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="Name"/>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="Password"/>
                </div>
            </div>
        </div>
	<div class="col-xs-6">
            <div class="row">
                <label for="Name" class="col-xs-12  col-sm-6">Name</label>
                <label for="Password" class="col-xs-12  col-sm-6">Password</label>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="Name"/>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="Password"/>
                </div>
            </div>
        </div>
	<div class="col-xs-6">
            <div class="row">
                <label for="Name" class="col-xs-12  col-sm-6">Name</label>
                <label for="Password" class="col-xs-12  col-sm-6">Password</label>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="Name"/>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="Password"/>
                </div>
            </div>
        </div>
	<div class="col-xs-6">
            <div class="row">
                <label for="Name" class="col-xs-12  col-sm-6">Name</label>
                <label for="Password" class="col-xs-12  col-sm-6">Password</label>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="Name"/>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="Password"/>
                </div>
            </div>
        </div>
	<div class="col-xs-6">
            <div class="row">
                <label for="Name" class="col-xs-12  col-sm-6">Name</label>
                <label for="Password" class="col-xs-12  col-sm-6">Password</label>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="Name"/>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="Password"/>
                </div>
            </div>
        </div>
	<div class="col-xs-6">
            <div class="row">
                <label for="Name" class="col-xs-12  col-sm-6">Name</label>
                <label for="Password" class="col-xs-12  col-sm-6">Password</label>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="Name"/>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="Password"/>
                </div>
            </div>
        </div>
	<div class="col-xs-6">
            <div class="row">
                <label for="Name" class="col-xs-12  col-sm-6">Name</label>
                <label for="Password" class="col-xs-12  col-sm-6">Password</label>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="Name"/>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="Password"/>
                </div>
            </div>
        </div>
	<div class="col-xs-6">
            <div class="row">
                <label for="Name" class="col-xs-12  col-sm-6">Name</label>
                <label for="Password" class="col-xs-12  col-sm-6">Password</label>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="Name"/>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <input class="form-control" type="text" id="Password"/>
                </div>
            </div>
        </div>

     </div>
   </form> 
  </body>
</html>
